@page "{restaurantId:int?}"
@model RazorPagesDemo1.Pages.Restaurants.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Editing @Model.Restaurant.Name</h2>

<form method="post">
    <input type="hidden" asp-for="Restaurant.Id" />
    <div class="form-group">
        <label asp-for="Restaurant.Name"></label>
        <input asp-for="Restaurant.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Restaurant.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Location"></label>
        <input asp-for="Restaurant.Location" class="form-control" />
        <span class="text-danger" asp-validation-for="Restaurant.Location"></span>

    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Cousine"></label>
        <select class="form-control"
                asp-for="Restaurant.Cousine"
                asp-items="Model.Cousines"></select>
        <span class="text-danger" asp-validation-for="Restaurant.Cousine"></span>

    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}

